.dash-board {}

.dash-board-container {
  display: grid;

  gap: 10px;
  margin-bottom: 1em;

  height: 60vh;
}

.circle-charts {
  display: flex;
  gap: 10px;
  height: 200px;

}

.doughnut-chart-container {
  width: 50%;
  border: 1px solid black;
}


.pia-chart-container {
  width: 50%;
  border: 1px solid black;
}

.bar-chart-container {
  border: 1px solid black;
}