.dash-board {
  display: grid;
  margin: 1em;
  gap: 1em;
  /* display: grid; */

}

.dash-board-container {
  display: grid;

  gap: 10px;
  margin-bottom: 1em;

  height: 85vh;
}

.circle-charts {
  display: flex;
  gap: 10px;
  height: 200px;

}

.doughnut-chart-container {
  width: 50%;
  border: 1px solid black;
}


.pia-chart-container {
  width: 50%;
  border: 1px solid black;
}

.line-chart-container {
  border: 1px solid black;
}

.dash-board .back-btn{
  width: fit-content;
}