.labels-btn {
    display: grid;
    grid:
        "h4"
        "buttons"
    ;
    width: 80%;
    
    place-items: center;
    padding: .5rem;

    border-radius: 2vh;
    border: 2px solid gray;
}

.labels-btn h4 {
    grid-area: h4;
}

.labels-btn button {
    grid-area: buttons;

    background-color: rgb(75, 103, 107);
}