/* .main-layout {
    display: grid;
    grid-template-columns:auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

.main-layout > * {
    grid-column: 2;
} */

/* .main-layout .full {
    grid-column: 1/-1;
} */

/* .container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
} */
